<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/reservas/disponibles" method="get">
        <label for="fecha_inicio">Fecha de inicio:</label><br>
        <input type="date" id="fecha_inicio" name="fecha_inicio"><br>
        <label for="fecha_fin">Fecha de fin:</label><br>
        <input type="date" id="fecha_fin" name="fecha_fin"><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>