<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Lista de Habitaciones Disponibles</h1>
        <ul class="list-group mt-3">
            <li th:each="habitacion : ${habitaciones}" class="list-group-item">
                <span th:text="${habitacion.numero}"></span>
                <a th:href="@{/reservas/agregar(habitacion=${habitacion.numero})}"
                    class="btn btn-primary float-right">Agregar Reserva</a>
            </li>
        </ul>
        <a href="/reservas/consulta" class="btn btn-primary mt-3">Consultar Disponibilidad</a>
    </div>
</body>

</html>