<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="#" th:action="@{/habitaciones/delete}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <label for="id">ID de la Habitación:</label><br>
        <input type="text" id="id" name="id" value=""><br>
        <input type="submit" value="Eliminar">
    </form>
</body>

</html>