body {
    background-color: #40489E;
    color: white;
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

.logo img {
    max-width: 200px;
    height: auto;
    justify-content: center;
    align-items: center;

}

.logo {
    text-align: center;
}

.row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.row li {
    width: 100px;
    /* Cambia este valor según el tamaño deseado */
    height: 100px;
    /* Cambia este valor según el tamaño deseado */
    margin-right: 10px;
    /* Espacio entre elementos */
    border: 7px solid white;
    border-radius: 10px;
    color: black;
}

.row li span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    /* Centra el texto verticalmente */
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    max-height: 300px;
    /* Establece el tamaño máximo para todas las imágenes */
    margin: 0 auto;
    /* Centra horizontalmente las imágenes */
}

.carousel-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    z-index: 1;
    font-size: 20px;
    color: #555;
    transition: background 0.3s;
}

.carousel-button-prev {
    left: 10px;
}

.carousel-button-next {
    right: 10px;
}

.carousel-container img {
    cursor: pointer;
    border-radius: 12px;
}

.carousel-container img:hover {
    width: 100%;
}

.link {
    background-color: rgb(110, 158, 42);
    position: absolute;
    border-radius: 15px;
    flex: auto;
    align-items: center;
    align-content: center;
}

.link a {
    position: relative;
    align-content: center;
}

.container img {
    width: 100%;
    height: 300px;
    /* Altura deseada del contenedor */
    background-image: url('tu_imagen.jpg');
    /* Ruta a tu imagen de fondo */
    background-color: rgba(255, 255, 255, 0.5);
    /* Color de fondo con opacidad */
    background-blend-mode: lighten;
    /* Modo de mezcla para ajustar la opacidad */
    background-size: contain;
    /* Ajusta el tamaño de la imagen para que se ajuste dentro del contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
}

.mision,
.vision {
    display: inline-block;
    /* Para que las secciones aparezcan en línea */
    width: 45%;
    /* Ajusta el ancho de cada sección según sea necesario */
    vertical-align: top;
    /* Alinea las secciones en la parte superior */
    margin: 10px;
    /* Agrega un margen entre las secciones */
}